<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="game-card">
    <img src="../../../assets/{{scheduless[index].image}}">

    <ion-card-header>
      <ion-card-title class="game-title"> {{scheduless[index].event}} </ion-card-title>
      <p class="location-time">{{scheduless[index].date}}</p>
      <p class="team-name">{{scheduless[index].team}}</p>
    </ion-card-header>

    <ion-card-content>
      <p class="game-description">
        {{scheduless[index].description}}
      </p>
    </ion-card-content>
    
    <ion-row>
      <ion-col size="6">
        <ion-button color="light" fill="clear" class="achievement-button" (click)="presentToast()">Notify Me</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
