<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>
    <ion-icon name="person-circle-outline" slot="end" size="large" style="margin-right: 20px"></ion-icon>
    <ion-title>SCHEDULE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngFor="let item of schedule" class="schedule-card" (click)="goToDetails(item)">
    <img [src]="item.image" class="schedule-img">
    <div class="schedule-info">
      <ion-card-header>
        <ion-card-title>{{item.date}}</ion-card-title>
        <ion-card-subtitle>{{item.event}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Played by {{item.team}}
      </ion-card-content>
    </div>
  </ion-card>  
</ion-content>
