#container {
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 7%;
    padding-left: 7%;
}

ion-img{
    width: 100%;
    margin:auto;
}

h4{
    font-weight: 600;
    font-style: italic;
}
ol{
    font-size: 16px;
    padding-left: 20px;
}