<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>

    <ion-icon name="person-circle-outline" slot="end" size="large" style="margin-right: 20px"></ion-icon>
  
    <ion-title>E-SPORTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    
      <ion-title size="large">E-SPORTS</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
