<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>  
    </ion-buttons>

    <ion-icon name="person-circle-outline" slot="end" size="large" style="margin-right: 20px"></ion-icon>
    <ion-title>WHO WE ARE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">WHO WE ARE</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-img src="../../assets/img_whoweare.png" alt="Who We Are Background" draggable="false"></ion-img>

    <ion-text>
      <h1>Eclipse Vanguard</h1>
    </ion-text>

    <ion-text>
      <p>Eclipse Vanguard is a dynamic and cutting-edge esports team known for its fearless approach and strategic prowess. Named after the rare and awe-inspiring solar eclipse, the team symbolizes a moment of complete dominance and brilliance on the gaming stage. "Vanguard" reflects their leadership in pushing the boundaries of competitive play, always ahead of the curve and setting new standards in their chosen games. With a diverse roster of talented players, Eclipse Vanguard excels in adaptability, teamwork, and innovation, consistently striving for excellence in every tournament they enter.</p>
    </ion-text>

    <ion-button fill="outline" shape="round" color="danger">
      <ion-icon slot="start" name="thumbs-up-outline"></ion-icon>
      0
    </ion-button>
  </div>
</ion-content>
