#container {
    text-align: right;
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-right: 7%;
    padding-left: 7%;
}

ion-img{
    width: 100%;
    margin:auto;
}

h1{
    text-align: center;
    font-weight: 600;
    font-style: italic;
}
p{
    text-align: justify;
    font-size: 12px;
}